<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuzzy Logic Result</title>
</head>
<body>
    <h1>Fuzzy Logic Result</h1>
    <table border="1">
        <tr>
            <th>No</th>
            <th>Type</th>
            <th>Harga</th>
            <th>Murah</th>
            <th>Normal</th>
            <th>Mahal</th>
        </tr>
        {% for row in table %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
