<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
</head>

<body>
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="text-center p-4 p-lg-5">
                <p class="fw-bold text-primary mb-2">Proud to introduce</p>
                <h1 class="fw-bold mb-4">Fuzzy Logic&nbsp;</h1><a href = "/dimensi" class="btn btn-primary fs-5 me-2 py-2 px-4" type="button">Dimensi</a><a href = "/harga" class="btn btn-primary fs-5 me-2 py-2 px-4" type="button">Harga</a><a href = "/ram" class="btn btn-primary fs-5 me-2 py-2 px-4" type="button">Ram</a><a href = "/baterai" class="btn btn-primary fs-5 me-2 py-2 px-4" type="button">Baterai</a><a href = "/belakang" class="btn btn-primary fs-5 me-2 py-2 px-4" type="button">Kamera Belakang&nbsp;</a><a href = "/rekomendbelakang" class="btn btn-primary fs-5 me-2 py-2 px-4" type="button">Rekomendasi Kamera Belakang</a>
            </div>
        </div>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>